/* Alert */

.alert{
    font-size: 18px;
    font-weight: 500;
    color: $black;
    background-color: $white;
    padding: 24px 30px;
    border-radius: 10px;
    cursor: pointer;

    &.alert-primary{
        background-color: $primary;
        color: $white;
    }

    &.alert-secondary{
        background-color: $secondary;
        color: $white;
    }

    &.alert-success{
        background-color: $success;
        color: $white;
    }

    &.alert-danger{
        background-color: $danger;
        color: $white;
    }

    &.alert-warning{
        background-color: $warning;
        color: $black;
    }

    &.alert-info{
        background-color: $info;
        color: $white;
    }

    &.alert-light{
        background-color: $white;
        color: $black;
    }

    &.alert-dark{
        background-color: $black;
        color: $white;
    }

    .alert-icon{
        display: unset;
        margin-right: 20px;
    }
}