@import './reset.scss';
@import './colors.scss';
@import './grid.scss';
@import './nav.scss';
@import './dropdown.scss';

/* CONTAINER */
.container{
    display: flex;
}

/* TOP BAR */
.top-bar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 5%;

    .logo{
        width: 300px;
        position: relative;
        display: inline-block;

        img{
            width: 100%;
        }
    }

    .desktop-menu{
        display: inline-block;
        margin: 0 auto;
    }

    .actions{
        display: inline-block;
        white-space: nowrap;
        margin-left: 25px;
        
        button{
            margin-left: 10px;
        }

        :first-child{
            margin-left: 0px;
        }
    }
}

/* SIDE BAR */
.sidebar{
    background-color: $primary;
    height: 100vh;
    float: left;
    border-radius: 0 50px 50px 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    .logo{
        width: 300px;
        margin-left: 10%;
        margin-top: 50px;
        position: relative;
        
        img{
            width: 100%;
            z-index: 2;
        }
    }

    &::before{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $primary;
        opacity: 0.85;
        border-radius: 0 50px 50px 0;
        content: " ";
    }

    .footer{
        float: left;
        width: auto;
        color: $white;
        margin-left: 10%;
        padding: 0;
    }
}

/* CONTENT */
.content{
    position: relative;
    height: 100vh;
    padding: 0 10%;

    .logo{
        margin: 75px 0;
        text-align: center;
        img{
            max-width: 80%;
        }
    }
}

/* FOOTER */
.footer{
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 50px;
    text-align: center;
    color: $gray3;
    font-size: 18px;
    padding: 0 10%;

    a{
        font-weight: 700;
        color: $primary;
        text-decoration: none;
    }
}

/* FORM */

.login-form{
    .title{
        font-size: 48px;
        font-weight: 700;
        text-align: center;
        margin-bottom: 50px;
        color: $black;
    }

    div{
        margin-bottom: 25px;
    }

    .forgot-password{
        text-align: center;
    }
}

.form-input-icon{
    background-color: $gray5;
    border-radius: 10px;
    display: flex;

    .form-icon{
        padding: 24px 30px;
        border-radius: 15px 0 0 15px;
        color: $gray3;
        font-size: 18px;
    }  

    .form-input{
        padding: 24px 30px 24px 0;
        border-radius: 0 15px 15px 0;
        width: 100%;
    }
}

.form-input{
    background-color: $gray5;
    font-size: 18px;
    color: $black;

    &:focus{
        outline: none;
    }

    &::placeholder{
        color: $gray3;
    }
}

.form-link{
    color: $gray3;
    font-size: 18px;
    text-decoration: none;
}

.form-detail{
    color: $gray3;
    font-size: 18px;
    text-decoration: none;
    text-align: center;

    a{
        text-decoration: none;
        color: $primary;
        font-weight: 700;
    }
}

/* BUTTON */

.btn{
    font-size: 18px;
    font-weight: 700;
    color: $black;
    background-color: $white;
    padding: 15px 30px;
    border-radius: 10px;
    cursor: pointer;

    &.btn-block{
        width: 100%;
        display: block;
    }

    &.btn-lg{
        font-size: 18px;
        padding: 24px 30px;
    }

    &.btn-sm{
        font-size: 15px;
        padding: 15px 30px;
    }

    &.btn-primary{
        background-color: $primary;
        border: solid 3px $primary;
        color: $white;
    }

    &.btn-secondary{
        background-color: $white;
        color: $primary;
        border: solid 3px $primary;
    }

    &.btn-options{
        padding: 15px;
        background-color: #E5E5E5;
        line-height: 15px;
    }
}

/* Alert */

.alert{
    font-size: 18px;
    font-weight: 500;
    color: $black;
    background-color: $white;
    padding: 24px 30px;
    border-radius: 10px;
    cursor: pointer;

    &.alert-primary{
        background-color: $primary;
        color: $white;
    }

    &.alert-secondary{
        background-color: $secondary;
        color: $white;
    }

    &.alert-success{
        background-color: $success;
        color: $white;
    }

    &.alert-danger{
        background-color: $danger;
        color: $white;
    }

    &.alert-warning{
        background-color: $warning;
        color: $black;
    }

    &.alert-info{
        background-color: $info;
        color: $white;
    }

    &.alert-light{
        background-color: $white;
        color: $black;
    }

    &.alert-dark{
        background-color: $black;
        color: $white;
    }

    .alert-icon{
        display: unset;
        margin-right: 20px;
    }
}

/* BREAKPOINTS */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .content{
        padding: 0 10%;
    }

    .sidebar{
        display: none;
    }

    .footer{
        position: relative;
        padding: 0;
        margin-bottom: 50px;
        bottom: 0;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .content{
        padding: 0 20%;
    }

    .sidebar{
        display: none;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .content{
        padding: 0 25%;
    }

    .sidebar{
        display: none;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .content{
        padding: 0 5%;

        .login-form{
            max-width: 400px;
            margin: auto;
            width: 80%;
            position: absolute;
            top: 50%;
            left: 50%;
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }

        .logo{
            display: none;
        }
    }

    .sidebar{
        display: block;
    }
}
@media only screen and (max-width: 992px) {
    .content{
        max-width: 100%;
        flex-basis: 100%;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .content{
        padding: 0 5%;
    }

    .sidebar{
        display: block;
    }
}