@import './reset.scss';
@import './colors.scss';
@import './grid.scss';
@import './nav.scss';
@import './dropdown.scss';
@import './badge.scss';
@import './card.scss';
@import './list.scss';
@import './alert.scss';
@import './button.scss';

/* CONTAINER */
.container{
    display: flex;
}

/* TOP BAR */
.header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
    position: fixed;
    background-color: $white;
    z-index: 999;
    height: 150px;

    .logo{
        width: 200px;
        position: relative;
        display: inline-block;

        img{
            width: 100%;
        }
    }

    .desktop-menu{
        display: inline-block;
        margin: 0 auto;
    }

    .actions{
        display: inline-block;
        white-space: nowrap;
        margin-left: 15px;
        
        button{
            margin-left: 10px;
        }

        :first-child{
            margin-left: 0px;
        }
    }
}

/* SIDE BAR */
.sidebar{
    background-color: $primary;
    height: 100vh;
    float: left;
    border-radius: 0 50px 50px 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    .logo{
        width: 300px;
        margin-left: 10%;
        margin-top: 50px;
        position: relative;
        
        img{
            width: 100%;
            z-index: 2;
        }
    }

    &::before{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $primary;
        opacity: 0.85;
        border-radius: 0 50px 50px 0;
        content: " ";
    }

    .footer-login{
        float: left;
        width: auto;
        color: $white;
        margin-left: 10%;
        padding: 0;
    }
}

/* CONTENT */
.content{
    position: relative;
    padding: 0 10%;
    padding-bottom: 100px !important;
    top: 150px;

    .logo{
        margin: 75px 0;
        text-align: center;
        img{
            max-width: 80%;
        }
    }

    &.login{
        top: 0;
    }
}

/* FOOTER */
.footer{
    padding: 0 5%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: normal;
    font-size: 14px;
    color: $gray3;
    height: 100px;
    position: fixed;
    background-color: $white;
    bottom: 0;
}

.footer-login{
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 50px;
    text-align: center;
    color: $gray3;
    font-size: 18px;
    padding: 0 10%;

    a{
        font-weight: 700;
        color: $primary;
        text-decoration: none;
    }
}

/* FORM */

.login-form{
    .title{
        font-size: 48px;
        font-weight: 700;
        text-align: center;
        margin-bottom: 50px;
        color: $black;
    }

    div{
        margin-bottom: 25px;
    }

    .forgot-password{
        text-align: center;
    }
}

.form-input-icon{
    background-color: $gray5;
    border-radius: 10px;
    display: flex;

    &.input-secondary{
        border: 2px solid #E6E6E6;
        box-sizing: border-box;
        border-radius: 15px;
        background-color: transparent;

        .form-input, .form-icon{
            background-color: transparent;
        }
    }

    .form-icon{
        padding: 24px 30px;
        border-radius: 15px 0 0 15px;
        color: $gray3;
        font-size: 18px;
    }  

    .form-input{
        padding: 24px 30px 24px 0;
        border-radius: 0 15px 15px 0;
        width: 100%;
    }

    .btn{
        margin: 10px;
    }
}

.form-input{
    background-color: $gray5;
    font-size: 18px;
    color: $black;

    &:focus{
        outline: none;
    }

    &::placeholder{
        color: $gray3;
    }
}

.form-link{
    color: $gray3;
    font-size: 18px;
    text-decoration: none;
}

.form-detail{
    color: $gray3;
    font-size: 18px;
    text-decoration: none;
    text-align: center;

    a{
        text-decoration: none;
        color: $primary;
        font-weight: 700;
    }
}

.dashboard, .animal{
    .title{
        font-weight: 700;
        font-size: 18px;
        line-height: 29px;
        margin-bottom: 15px;
        color: $black;
    }
}

.animal .row{
    margin-bottom: 30px;
}

.dashboard .card .action{
    margin-bottom: 25px;
}

.home{
    height: calc(100vh - 250px);
    display: flex;
    align-items: center;

    .herobanner{
        padding-right: 100px;

        h1{
            color: $black;
            font-size: 48px;
            margin-bottom: 30px;
            max-width: 500px;
        }

        .form-input{
            max-width: 600px;
        }
    }

    .image{
        background-color: $primary;
        height: 100%;
        width: 100%;
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: 999;
        border-radius: 100px 0 0 0;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
}

.owner{
    display: flex;
    align-items: center;

    .image{
        width: 75px;
        height: 75px;
        margin-right: 15px;

        img{
            border-radius: 5em;
            border: 4px solid #EF476F;
            width: 100%;
            height: 100%;
        }
    }

    .details{
        .name{
            font-size: 18px;
            font-weight: 700;
            color: $black;
            display: block;
            line-height: 125%;
        }

        .info{
            font-size: 14px;
            font-weight: 500;
            color: $gray2;
            display: block;
        }
    }
}

/* BREAKPOINTS */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .content{
        padding: 0 10%;
    }

    .sidebar{
        display: none;
    }

    .footer-login{
        position: relative;
        padding: 0;
        margin-bottom: 50px;
        bottom: 0;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .content{
        padding: 0 20%;
    }

    .sidebar{
        display: none;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .content{
        padding: 0 25%;
    }

    .sidebar{
        display: none;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .content{
        padding: 0 5%;

        .login-form{
            max-width: 400px;
            margin: auto;
            width: 80%;
            position: absolute;
            top: 50%;
            left: 50%;
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }

        .logo{
            display: none;
        }
    }

    .sidebar{
        display: block;
    }
}
@media only screen and (max-width: 992px) {
    .content{
        max-width: 100%;
        flex-basis: 100%;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .content{
        padding: 0 5%;
    }

    .sidebar{
        display: block;
    }
}