/* COLORS */
$primary: #EF476F;
$secondary: #073B4C;
$black: #282828;

$danger: #E2574C;
$info: #2F76FF;
$success: #2ECC71;
$warning: #FFD166;

$gray: #4D4D4D;
$gray2: #808080;
$gray3: #BFBFBF;
$gray4: #E6E6E6;
$gray5: #F2F2F2;
$white: #ffffff;

/* RESET CSS */
*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;

    font-family: 'Montserrat', sans-serif;
}

/* CONTAINER */
.container{
    display: flex;
}

/* GRID */
.row{
    display: flex;
    flex-wrap: wrap;
}
.col, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12{
    width: 100%;
    position: relative;
    padding: 0 15px;
}

.col{
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
}
.col-1{
    flex: 0 0 8.333%;
    max-width: 8.333%;
}
.col-2{
    flex: 0 0 16.666%;
    max-width: 16.666%;
}
.col-3{
    flex: 0 0 25%;
    max-width: 25%;
}
.col-4{
    flex: 0 0 33.333%;
    max-width: 33.333%;
}
.col-5{
    flex: 0 0 41.666%;
    max-width: 41.666%;
}
.col-6{
    flex: 0 0 50%;
    max-width: 50%;
}
.col-7{
    flex: 0 0 58.333%;
    max-width: 58.333%;
}
.col-8{
    flex: 0 0 66.666%;
    max-width: 66.666%;
}
.col-9{
    flex: 0 0 75%;
    max-width: 75%;
}
.col-10{
    flex: 0 0 83.333%;
    max-width: 83.333%;
}
.col-11{
    flex: 0 0 91.666%;
    max-width: 91.666%;
}
.col-12{
    flex: 0 0 100%;
    max-width: 100%;
}


/* SIDE BAR */
.sidebar{
    background-color: $primary;
    height: 100vh;
    float: left;
    border-radius: 0 50px 50px 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    .logo{
        width: 300px;
        margin-left: 10%;
        margin-top: 50px;
        position: relative;
        
        img{
            width: 100%;
            z-index: 2;
        }
    }

    &::before{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $primary;
        opacity: 0.85;
        border-radius: 0 50px 50px 0;
        content: " ";
    }

    .footer{
        float: left;
        width: auto;
        color: $white;
        margin-left: 10%;
        padding: 0;
    }
}

/* CONTENT */
.content{
    position: relative;
    height: 100vh;
    padding: 0 10%;

    .logo{
        margin: 75px 0;
        text-align: center;
        img{
            max-width: 80%;
        }
    }
}

/* FOOTER */
.footer{
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 50px;
    text-align: center;
    color: $gray3;
    font-size: 18px;
    padding: 0 10%;

    a{
        font-weight: 700;
        color: $primary;
        text-decoration: none;
    }
}

/* FORM */

.login-form{
    .title{
        font-size: 48px;
        font-weight: 700;
        text-align: center;
        margin-bottom: 50px;
        color: $black;
    }

    div{
        margin-bottom: 25px;
    }

    .forgot-password{
        text-align: center;
    }
}

.form-input-icon{
    background-color: $gray5;
    border-radius: 10px;
    display: flex;

    .form-icon{
        padding: 24px 30px;
        border-radius: 15px 0 0 15px;
        color: $gray3;
        font-size: 18px;
    }  

    .form-input{
        padding: 24px 30px 24px 0;
        border-radius: 0 15px 15px 0;
        width: 100%;
    }
}

.form-input{
    background-color: $gray5;
    font-size: 18px;
    color: $black;

    &:focus{
        outline: none;
    }

    &::placeholder{
        color: $gray3;
    }
}

.form-link{
    color: $gray3;
    font-size: 18px;
    text-decoration: none;
}

/* BUTTON */

.btn{
    font-size: 18px;
    font-weight: 700;
    color: $black;
    background-color: $white;
    padding: 15px 30px;
    border-radius: 10px;
    cursor: pointer;

    &.btn-block{
        width: 100%;
        display: block;
    }

    &.btn-lg{
        font-size: 18px;
        padding: 24px 30px;
    }

    &.btn-primary{
        background-color: $primary;
        color: $white;
    }
}

/* Alert */

.alert{
    font-size: 18px;
    font-weight: 500;
    color: $black;
    background-color: $white;
    padding: 24px 30px;
    border-radius: 10px;
    cursor: pointer;

    &.alert-primary{
        background-color: $primary;
        color: $white;
    }

    &.alert-secondary{
        background-color: $secondary;
        color: $white;
    }

    &.alert-success{
        background-color: $success;
        color: $white;
    }

    &.alert-danger{
        background-color: $danger;
        color: $white;
    }

    &.alert-warning{
        background-color: $warning;
        color: $black;
    }

    &.alert-info{
        background-color: $info;
        color: $white;
    }

    &.alert-light{
        background-color: $white;
        color: $black;
    }

    &.alert-dark{
        background-color: $black;
        color: $white;
    }

    .alert-icon{
        display: unset;
        margin-right: 20px;
    }
}

/* BREAKPOINTS */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .content{
        padding: 0 10%;
    }

    .sidebar{
        display: none;
    }

    .footer{
        position: relative;
        padding: 0;
        margin-bottom: 50px;
        bottom: 0;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .content{
        padding: 0 20%;
    }

    .sidebar{
        display: none;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .content{
        padding: 0 25%;
    }

    .sidebar{
        display: none;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .content{
        padding: 0 5%;

        .login-form{
            max-width: 400px;
            margin: auto;
            width: 80%;
            position: absolute;
            top: 50%;
            left: 50%;
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }

        .logo{
            display: none;
        }
    }

    .sidebar{
        display: block;
    }
}
@media only screen and (max-width: 992px) {
    .content{
        max-width: 100%;
        flex-basis: 100%;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .content{
        padding: 0 5%;
    }

    .sidebar{
        display: block;
    }
}