/* BUTTON */

.btn{
    font-size: 16px;
    font-weight: 700;
    color: $black;
    background-color: $white;
    padding: 15px 30px;
    border-radius: 10px;
    cursor: pointer;

    &.btn-block{
        width: 100%;
        display: block;
    }

    &.btn-lg{
        font-size: 18px;
        padding: 24px 30px;
    }

    &.btn-sm{
        font-size: 15px;
        padding: 15px 30px;
    }

    &.btn-primary{
        background-color: $primary;
        border: solid 3px $primary;
        color: $white;
    }

    &.btn-secondary{
        background-color: $white;
        color: $primary;
        border: solid 3px $primary;
    }

    &.btn-success{
        background-color: $success;
        border: solid 3px $success;
        color: $white;
    }

    &.btn-success.btn-outline{
        background-color: transparent;
        color: $success;
        border: solid 3px $success;
    }

    &.btn-danger{
        background-color: $danger;
        border: solid 3px $danger;
        color: $white;
    }

    &.btn-danger.btn-outline{
        background-color: transparent;
        color: $danger;
        border: solid 3px $danger;
    }

    &.btn-secondary.gray{
        background-color: $white;
        color: $gray3;
        border: solid 3px $gray4;
    }

    &.btn-options{
        font-size: 15px;
        padding: 10px;
        background-color: #E5E5E5;
        line-height: 10px;
        border-radius: 5px;
    }
}